body {
  background-image: url("Blured.jpg");
  /*background-size: cover;*/
    /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
 background-size: 100% 300%;
}

.content {
/*  max-width: 670px;*/
  max-width: 472px;
  margin: auto;
  padding: 20px 28px;
  background: radial-gradient(circle, #354F8C 0%, #040737 100%);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.48);
}
  
.button {
  background: linear-gradient(112.52deg, #565EB9 0%, #9A81FD 100%); 
  border: none;
  padding: 8px 20px;
  text-decoration: none;
  display: inline-block;
  color: #FFF;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  border-radius: 6px;
  height: 50px;
  width: 100px;
}

h3 {
  color: #C8CFF4;
  font-size: 30px;
  font-family: Roboto, Helvetica, sans-serif;
}
h5 {
  color: #C8CFF4;
  font-family: Roboto, Helvetica, sans-serif;
    font-size: 20px;
}
h6 {
  color: #C8CFF4;
  font-family: Roboto, Helvetica, sans-serif;
   font-size: 15px;
    padding : 2px; 
}

h8 {
  color: #C8CFF4;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 19px;  
}

h7 {
  color: #FFF;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 40px;
}

#zonetable {
  border-collapse: collapse;
  width: 100%;
}

#zonetable td, #zonetable th {
  border: 0px solid #ddd;
}
