<html lang="en">
<head>
	<title>Login</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="angular.min.js"></script>
 	<script type="text/javascript"  src="webcontroller.js"></script>  	 
	<style type="text/css">

	</style>
	<script>

	</script>
	</head>
	<body>
		<!--  <div class="container-fuide">  -->
		<div ng-app="sbApp" ng-controller="sbController">  
   		    	        
			<table  width ="100%" style="text-align: center;" >
			<tr> 
				<td style="text-align: center;">
					<font color="white">Welcome Spring Boot </font>  
				</td>
			</tr>
			<tr> 
				<td style="text-align: center;">
					  <font color="white">Welcome Spring Boot </font>   
					  <inpu type="text"> 
				</td>
			</tr>
				<td style="text-align: center;">
					<input type="text"  placeholder="UserName" ng-model="uname"> 
					<br>	
					<a href="#" ng-click="loginUser()"  style="text-decoration:none;"> Start </a> 	 
			   </td>
				</table>

	 
	</div>
<!--  </div>  -->
</body>
</html>                            