<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="myApp" ng-controller="myCtrl">

<table border="1">
<tr ng-repeat="x in records">
  <td>{{x.Name}}</td>
  <td>{{x.Country}}</td>  
  <td> {{x.state[0]}} {{x.state[1]}}{{x.state[2]}}
   </td> 
</tr>
</table>

 
<div ng-repeat="y in records1"> 
<!-- <div ng-if="equipId===y.irvmsequipid">    -->
  <table border="1"> 
  	<tr>
    	<td>{{y.irvmsequipid}}</td>  
  		<td>{{y.irmrwvmsmsg[0]}} </td>
  	</tr>
    <tr>
    	<td>{{y.irvmsequipid}}</td>  
  		<td>{{y.irmrwvmsmsg[1]}} </td>
  	</tr>
    <tr>
    	<td>{{y.irvmsequipid}}</td>  
  		<td>{{y.irmrwvmsmsg[2]}} </td>
  	</tr>
    <tr>
    	<td>{{y.irvmsequipid}}</td>  
  		<td>{{y.irmrwvmsmsg[3]}} </td>
  	</tr>
  </table>
  <!-- </div>  -->
</div>

<script>
var app = angular.module("myApp", []);
app.controller("myCtrl", function($scope) {
  $scope.records = [
    {
      "Name" : "Alfreds Futterkiste",
      "Country" : "Germany",
      "state" : [ "DEF", "BMW", "Fiat" ]
    },
    {
      "Name" : "Berglunds snabbköp",
      "Country" : "Sweden",
      "state" :  [ "MW", "BMW", "Fiat" ]
    },
    {
      "Name" : "Centro comercial Moctezuma",
      "Country" : "Mexico",
      "state" :  [ "BMW", "ABC", "Fiat" ]
    },
    {
      "Name" : "Ernst Handel",
      "Country" : "Austria",
      "state" :  [ "HIJ", "BMW", "Fiat" ]
    }
  ];
 
 //$scope.equipId = "231482";
 // $scope.equipId = "568231";
  $scope.records1 =   [
    {
      "irvmsequipid": "231482",
      "irmrwvmsmsg": ["Expect Delays Near sports Hub","Heavy Traffic on Nicoll Highway/Raffles Blvd","Heavy Traffic on Guillemard Road","Heavy Traffic on Bras Basah Rd"]
    },
    {
        "irvmsequipid": "568231",
      "irmrwvmsmsg": ["Expect Delays Near sports Hub", "Heavy Traffic on Stadium Boulevard", "Heavy Traffic on MountBatten Road", "Heavy Traffic before Sim Way / KPE"] 
    }
  ];
});
</script>
   
</body>
</html>
