p {
  margin: 1.5em 0;
  padding: 0;
}
input[type="checkbox"] {
  visibility: hidden;
}
label {
  cursor: pointer;
   font-family: Roboto, Helvetica, sans-serif;
  font-size: 16px;
   color: #C8CFF4;
}
input[type="checkbox"] + label:before {
  border: 2px solid #59EE05;
  content: "\00a0";
  display: inline-block;
  font: 15px/1em Roboto;
    font-weight: bold;
  height: 18px;
  margin: 0 .25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 20px;
}
input[type="checkbox"]:checked + label:before {
  background: #59EE05;
  color: #333;
  content: "\2713";
  text-align: center;
}
input[type="checkbox"]:checked + label:after {
  font-weight: bold;

}

input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}