 .bs-example{
    	margin: 20px;
    }
body {
  background-image: url("loginImg.jpg");
}

.btnClass{
backcolor: #283D76;
}
h3 {
  color: white;
  font-family: Roboto, Helvetica, sans-serif;
}
h5 {
  color: white;
  font-family: Roboto, Helvetica, sans-serif;
}

label input {
   margin-right:5px;
}

.chkclass {
  color: white;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 14px;
}
p{
  color: white;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 14px;
}