/*.dropbtn {
  background-color:  #202B53;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}*/

.dropdown {
  position: relative;
  display: inline-block;
  padding: 6px 2px 10px 0;
  border-radius: 4px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #202B53;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {}

.dropdown:hover .dropdown-content {display: block;}

/* .dropdown:hover .dropbtn {background-color: #2980B9;} */