 .bs-example{
    	margin: 10px;
    }
body {
  background-image: url("Blured.jpg");
  background-size: cover;
}

h4 {
  font-family: Roboto, Helvetica, sans-serif;
  color: #C8CFF4;
  font-weight: bold;
  font-size: 16px;
}

h5 {
  color: #C8CFF4;;
  font-family: Roboto, Helvetica, sans-serif;
}
h3 {
  color: #C8CFF4;;
  font-family: Roboto, Helvetica, sans-serif;
}
h10 {
  font-family: Roboto, Helvetica, sans-serif;
  color: #48AD76;
  font-weight: bold;
  font-size: 18px;
}

h6 {
  font-family: Roboto, Helvetica, sans-serif;
  color: #C8CFF4;
  font-size: 13px;
}

p{
  color: #C8CFF4;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 14px;
}


.buttonplan{
  font-size: .7em;
  padding: 2px 5px;
  color: #202B53;
  border: 2px solid #4dd2ff;
  border-radius: 3px/3px;
  background:#4dd2ff;
}

.buttonappro{
  font-size: .7em;
  padding: 2px 5px;
  color: #202B53;
  border: 2px solid #ffcc66;
  border-radius: 3px/3px;
  background:#ffcc66;
}

.buttonCreateEvent {
  font-size: .7em;
  padding: 4px 15px;
  color: #202B53;
  border: 2px solid #C8CFF4;
  border-radius: 3px/3px;
  background:#C8CFF4;
}

div.scroll {
      width:790px;
      overflow-y:scroll;
	  overflow-x: hidden;
      height:500px;    
}

.contentEvent {
  max-width: 825px;
  margin: auto;
  background: #202B53;
  padding: 10px;
}

/*
.contentEventCreate {
  max-width: 825px;
  margin: auto;
  background: #202B53;
  padding: 10px;
  height: 95%;
}*/

.eventclosuretable, td, th {  
  border: 0px solid #ddd;
  text-align: left;
}


