body {
/*  background-image: url("roadmap.jpg");
  background-size: cover;*/
}

.button {
  background: linear-gradient(112.52deg, #565EB9 0%, #9A81FD 100%); 
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 1px;
  cursor: pointer;
  border-radius: 6px;
}


.buttonCan {
  background: linear-gradient(112.52deg, #656679 0%, #6A6191 100%);
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 1px;
  cursor: pointer;
  border-radius:6px;
}

h3 {
  color: #C8CFF4;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 16px;
}
h4 {
  color: #C8CFF4;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 20px;
}
h5 {
  color: #C8CFF4;
  font-family: Roboto, Helvetica, sans-serif;
    font-size: 12px;
}
h3a {
  margin-top: 0;
  color: #4dd2ff;
  font-size: 20px;
  font-family:  Roboto, Helvetica, sans-serif;
}

mrtinctable, td, th {  
  border: 0px solid #ddd;
  text-align: left;
  padding: 10px;
}

.mrtinctable {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
  background: radial-gradient(circle, #354F8C 0%, #040737 100%);
  padding: 20px;
  margin-top: 10%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.48);
}

th, td {
  padding: 6px;
}
.selectcls {
  padding: 5px 5px;
  font-family: Roboto, Helvetica, sans-serif;
  border : none;
  width: 213px; height: 25px; padding: 4px;  background-color: #37478A; color:#FFF;
  border-radius: 8px;
}
h2t {
  margin-top: 0;
  color: #C8CFF4;
  font-size: 26px;
  font-family: Roboto, Helvetica, sans-serif;
  padding: 10px;
}
#incdetailtbl {
  border-collapse: collapse;
  width: 100%;
}

#incdetailtbl td, #incdetailtbl th {
  padding: 10px;
  color: #C8CFF4; 
  font-size: 13px;
  background: none; 
}

#mrtdetailtbl {
  border-collapse: collapse;
  width: 100%;
}

#mrtdetailtbl td, #mrtdetailtbl th {
  padding: 8px;
  color: #C8CFF4; 
  font-size: 12px;
}

#mrtdetailtbl th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
}

/* start Scroll bar  */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 100px #43498F; 
  border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #202B53; 
  border-radius: 3px;
}

::-webkit-scrollbar-corner {
  background: #202B53; 
  border-radius: 3px;
}
div.mrtincscroll {
     /* width:790px; */
      overflow-y:auto;
	  overflow-x: auto;
      height: 90% !important;
}
.buttonCreateMrtInc {
  background-image: linear-gradient( 90deg,	rgba(86,94,185,1) , rgba(143,123,242,1)); 
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 1px;
  cursor: pointer;
  border-radius: 5px/5px;
}
input {
  font-family: Roboto, Helvetica, sans-serif;
  border : none;
  width: 187.81px; height: 23px; padding: 4px; background-color: #37478A; color:#C8CFF4;
  border-radius: 10px;
}
select {
  /* width: 80%; */
  padding: 5px 5px;
  font-family: Roboto, Helvetica, sans-serif;
  border : none;
  width:187.81px; height: 23px; padding: 4px; background-color:#37478A; color:#FFF;
  border-radius: 10px;
}
h3b {
  margin-top: 0;
  color: #C8CFF4;
  font-size: 20px;
  font-family:  Roboto, Helvetica, sans-serif;
}