body {
  font-family: Roboto, Helvetica, sans-serif;
 }
body {
  background-image: url("roadmap.jpg");
  background-size: cover;
}
h1 {
  text-align: center;
  font-family: Roboto, Helvetica, sans-serif;
  color: #C8CFF4;
  margin: 80px 0;
}

.buttonCreateMrtInc {
  background-color: #6D5BFF; 
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 1px;
  cursor: pointer;
  border-radius: 5px/5px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
/*
.popup {
  margin: 5px auto;
  padding: 2px;
  background: #202B53;
  border-radius: 5px;
  width: 30%;
  height: 90%;
  right: 15px;
  position: relative;
}*/

.popup {
  margin: 5px auto;
  padding: 8px;
  background: #202B53;
  border-radius: 5px;
  position: fixed;
  width: 40%;
  height: 90%;
  right: 15px;
  z-index: 9;
  
}

.popup .content {
  max-height: 90%;
  color: #C8CFF4;
  font-size: 15px;
}
.popup h4 {
  margin-top: 0;
  color: #C8CFF4;
    font-size: 18px;
  font-family: Roboto, Helvetica, sans-serif;
}

.popup h2 {
  margin-top: 0;
  color: #C8CFF4;
    font-size: 16px;
  font-family: Roboto, Helvetica, sans-serif;
}

.popup h3 {
  margin-top: 0;
  color: #C8CFF4;
  font-size: 14px;
  font-family:  Roboto, Helvetica, sans-serif;
}

.popup input {

  font-family: Roboto, Helvetica, sans-serif;
  border : none;
  width: 250px; height: 30px; padding: 4px; background-color:#283D76; color:#C8CFF4;
}
.popup select {
  /* width: 80%; */
  padding: 5px 5px;
  font-family: Roboto, Helvetica, sans-serif;
  border : none;
  width: 250px; height: 30px; padding: 4px; background-color:#283D76; color:#C8CFF4;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #C8CFF4;
}

.closebtn {
  background-color: #202B53 ;
  border: none;
  color: white;
  padding: 5px 5px;
  font-size: 13px;
  cursor: pointer;
}
/* start Scroll bar  */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 100px #43498F; 
  border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #202B53; 
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  background: #202B53; 
  border-radius: 3px;
}
/* end of Scroll bar  */

div.incscroll {
     /* width:790px; */
      overflow-y:scroll;
	  overflow-x: hidden;
      height:550px;
}


table td{
	padding:6px;
}