body {
  background-image: url("Blured.jpg");
  background-size: cover;
}

.content {
  max-width: 670px;
  margin: auto;
  background-color: #202B53; /* For browsers that do not support gradients */
  background-image: linear-gradient(#202B53, #2B5DB9); /* Standard syntax (must be last) */
  padding: 10px  ;
  border-radius: 10px/20px;
}

.button {
  background-color: #C7D4ED; /* Green */
  border: none;
  color: #202B53;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 23px;
  margin: 4px 1px;
  cursor: pointer;
  border-radius: 5px/5px;
}


h3 {
  color: #C8CFF4;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 30px;
}
h5 {
  color: #C8CFF4;
  font-family: Roboto, Helvetica, sans-serif;
    font-size: 20px;
}
h6 {
  color: #C8CFF4;
  font-family: Roboto, Helvetica, sans-serif;
   font-size: 18px;
    font-style: italic;
}

h8 {
  color: #C8CFF4;
  font-family: Roboto, Helvetica, sans-serif;
   font-size: 20px;
    
}

h7 {
  color: #202B53;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 45px;
}

logintable, td, th {  
  border: 0px solid #ddd;
  text-align: left;
}

.logintable {
  border-collapse: collapse;
  width: 100%;
}

tr, td {
  padding: 3px;
}
