
#info1 {
  top: 90px;
  right: 800px;
  position: absolute;
  z-index: 200;
  border: solid 0px;
  background-color:none;
  width: 160px;
  border-radius: 13px;
}

#info2 {
  top: 90px;
  right: 640px;
  position: absolute;
  z-index: 200;
  border: solid 0px;
  width: 160px;
  background-color:none;
  border-radius: 13px;
}
.buttoneventbub {
  color: #C8CFF4;
  font-family:  Roboto, Helvetica, sans-serif;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.5);
  border-radius: 13px;
  background-color:#356D85;
  border: solid 1px #356D85;
  width:160px;
  height:30px
}

.buttoneventclo{
  color: #C8CFF4;
  font-family:  Roboto, Helvetica, sans-serif;
  border-radius: 13px;
  background-color: #A98651;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.5);
  border: solid 1px #A98651;
  width:160px;
  height:30px;
}

html, body, #mapDiv {
  padding:0;
  margin:0;
  height:100%;
}

#mapDiv {
  position: relative;
}
button {
  display: block;
}


#bottomPanel {
  left: 50%;
  margin: 0 auto;
  margin-left: -500px;
  position: absolute; 
  bottom: 2.5em;
}

#timeInfo{
  border-radius: 4px;
/*  border: solid 2px #ccc;
  background-color: #fff; */
  display: block;
  padding: 5px;
  position: relative;
  text-align: center;
  width: 1000px;
  z-index: 99;
  color: #46F7FF;
}

.dijitRuleMark {
position: absolute;
border: 1px solid #46F7FF;
line-height: 0;
height: 100%;
}
.claro .dijitRuleLabelsContainer {
color: #46F7FF;
}
element.style {
  width: 100%;
  background-color:none; 
}

.claro .dijitSlider .dijitSliderRemainingBarH, .claro .dijitSlider .dijitSliderRightBumper {
border-color: #46F7FF;
background-color: #46F7FF;
}

.claro .dijitButton .dijitButtonNode, .claro .dijitDropDownButton .dijitButtonNode, .claro .dijitComboButton .dijitButtonNode, .claro .dijitToggleButton .dijitButtonNode{
border-color: #46F7FF;
background-color: #46F7FF;
background-image:none;
}

.claro .dijitSliderImageHandleH {
background: #46F7FF;
}

.esriPopup .contentPane {
background-color: black;
color: white;
}

.esriPopup .actionsPane {
background-color: black;
}

.esriPopup .pointer, .esriPopup .outerPointer {
background: black;
}