[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no
[req_distinguished_name]
C = SG
ST = SG
L = Singapore
O = LTA ITS
OU = i-transport 2.0
CN = bis.itpt.its.com
[v3_req]
keyUsage = keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
DNS.1 = bis.itpt.its.com
DNS.2 = www.bis.itpt.its.com
DNS.3 = *.bis.itpt.its.com